
<div class="card-deck">
    <div class="card">
      <img src="assets/images/singleBed.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Single Bed</h5>
        <p class="card-text"></p>
        <button class="btn1 btn-primary" routerLink="/client">I prefer this</button>     
      </div>
    </div>
    <div class="card">
      <img src="assets/images/doubleBed.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Double Bed</h5>
        <p class="card-text"></p>
        <button class="btn2 btn-primary" routerLink="/client">I prefer this</button>      
      </div>
    </div>
    <div>
    <button class="btn3 btn-primary" routerLink="/homepage">back</button>
    </div>